extends layout

block content
  div.table-container.col-center
    table.table.table-bordered
      tr
        th Titill
        th Lýsing
        th Byrjar
        th Lengd
        th Þáttur nr
        th Af
      each tv in tvSchedule
        tr
          td= tv.title
          td= tv.description
          td= tv.startTime
          td= tv.duration
          td= tv.series.episode
          td= tv.series.series
