extends layout
block scripts
  script(src="/javascripts/trailer.js")
  script(src="/javascripts/movie.js")
block content
  #movieContent
    img(src='https://image.tmdb.org/t/p/w1920/' + movie.backdrop_path)#moviesBackground
    .wrapper
      .posterAndinfo
        #leftContainer.flex-item.col-sm-4
          img(src='https://image.tmdb.org/t/p/w500/' + movie.poster_path)#poster.img-rounded
        #rightContainer.flex-item.col-sm-8
          .info
            h1 #{movie.title}
            #genreLength
              p Genre: #{movieIs.omdb[0].Genre}
              p#runtime Runtime: #{movie.runtime} mins
            p Release date: #{movie.release_date}
            p Director: #{movieIs.omdb[0].Director}
            p Writer: #{movieIs.omdb[0].Writer}
            p #{movie.tagline}
            p #{movie.overview}
      .creditsWrapper
        .creditsSection
          ul#creditList
            li.col-sm-3
              .creditItem
                img(src='https://image.tmdb.org/t/p/w500/' + credit.cast[0].profile_path).creditPic.img-circle
                p.creditText #{credit.cast[0].name}
            li.col-sm-3
              .creditItem
                img(src='https://image.tmdb.org/t/p/w500/' + credit.cast[1].profile_path).creditPic.img-circle
                p.creditText #{credit.cast[1].name}
            li.col-sm-3
              .creditItem
                img(src='https://image.tmdb.org/t/p/w500/' + credit.cast[2].profile_path).creditPic.img-circle
                p.creditText #{credit.cast[2].name}
            li.col-sm-3
              .creditItem
                img(src='https://image.tmdb.org/t/p/w500/' + credit.cast[3].profile_path).creditPic.img-circle
                p.creditText #{credit.cast[3].name}
  .showTimesTable.col-xs-7.col-sm-5.col-md-4.col-lg-4
  h3 Sýningartímar
    table.table-responsive
      - var screeningTimes = movieIs.showtimes
      each show in screeningTimes
        tr
          th
            a(cinemaid=show.cinema.id)
            each showtime in show.schedule
              td
                a(href=showtime.purchase_url) #{showtime.time}
  if movieIs.trailers[0]
    - var movielink = movieIs.trailers[0].results
    each link in movielink
      div(trailerkey=link.key,id=link.key).player
  else
